---
import type { CollectionEntry } from 'astro:content';

interface Props {
  prev?: CollectionEntry<'blog'> | CollectionEntry<'writing'> | null;
  next?: CollectionEntry<'blog'> | CollectionEntry<'writing'> | null;
  basePath?: string;
}

const { prev, next, basePath = '/blog' } = Astro.props;
---

{(prev || next) && (
  <nav class="post-nav">
    {prev && (
      <a href={`${basePath}/${prev.slug}`} class="post-nav-link post-nav-link--prev">
        &larr; {prev.data.title}
      </a>
    )}
    {next && (
      <a href={`${basePath}/${next.slug}`} class="post-nav-link post-nav-link--next">
        {next.data.title} &rarr;
      </a>
    )}
  </nav>
)}
